/*LeftSide Bar*/
header {
  height: 56px;
}

body {
  background-color: #efefef;
}

.c-fluid {
  height: 56px;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  top: 0;
}

.navbar_bar {
  padding: 0;
  margin: 0;
  height: 56px;
}

.container_bar {
  max-height: 56px;
  padding: 0 1rem;
}

.d-flex_bar {
  width: 420px;
  max-width: 420px;
  margin: 0 1rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control_bar {
  width: 100%;
  padding: .4375rem .5rem;
}

.btn-sucess {
  position: absolute;
  border-radius: 50%;
  margin: .25rem;
  padding: .25rem;
  border: transparent;
  left: 87%;
}

.btn-sucess:hover {
  background-color: whitesmoke;
}

.navbar-nav_bar {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create_post {
  background: #3b49df;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: .375rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #f9f9f9;
  line-height: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.create_post:hover {
  background: #323ebe;
  color: #fff;
}

.action {
  border-radius: 50%;
  margin: .25rem;
  padding: .25rem;
  border: transparent;
}

.action:hover {
  background-color: whitesmoke;
}

.indicator {
  position: absolute;
  color: #FA383E;
  font-weight: 750;
  top: 15%;
}

.avatar_image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar_image:hover {
  border: 2px solid whitesmoke;
}

main {
  margin-top: 20px;
}

@media (min-width: 500px) and (max-width: 900px) {
  .d-flex_bar {
    width: 100px;
    max-width: 100px;
    margin: 0 1rem;
  }
}

.aside_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 60px;
}

.aside_card .card-body {
  padding-left: 20px;
}

.aside_card .card-body .card-title {
  font-weight: bold;
  line-height: 1.4;
  text-decoration: none;
  word-spacing: 1px;
  font-size: 18px;
  padding-bottom: 5px;
}

.aside_card .card-body .card-title .LBIntroLink {
  color: #3b49df;
  text-decoration: none;
}

.aside_card .card-body .card-title .LBIntroLink:hover {
  cursor: pointer;
}

.aside_card .card-body .card-text {
  word-spacing: 1px;
  font-size: 16px;
  color: #5C5757;
}

.aside_card .card-body .btn-primary {
  height: 40px;
  width: 200px;
  font-weight: 600;
  margin: 5px;
  background-color: #3b49df;
  border: #3b49df;
}

.aside_card .card-body .btn-primary:hover {
  background-color: #2c38c0;
}

.aside_card .card-body .btn-light {
  height: 40px;
  width: 200px;
  font-weight: 600;
  margin: 5px;
  color: #3b49df;
  background-color: white;
  border: white;
}

.aside_card .card-body .btn-light:hover {
  background-color: #f1efef;
}

.LBcontIntro {
  width: 240px;
  padding-top: 10px;
  margin-left: 60px;
}

.LBcontIntro .nav-item {
  color: black;
}

.LBcontIntro .nav-item:hover {
  border-radius: 5px;
  background-color: #eceaea;
}

.LBcontOther {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 60px;
}

.LBcontOther .LBOcont0 {
  font-weight: bold;
  font-size: 16px;
}

.LBcontOther .nav-item:hover {
  border-radius: 5px;
  background-color: #eceaea;
}

.LBcontRedS {
  margin-left: 60px;
}

.LBcontRedS .btn-group {
  fill: #7c7a7a;
}

.LBcontRedS .btn-group .btn:hover {
  fill: #504f4f;
  cursor: pointer;
}

.LBcontTags {
  margin-left: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.LBcontTags .LBheadTags {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 20px;
}

.LBcontTags .list-group {
  width: 240px;
  height: 360px;
  overflow: scroll;
  overflow-x: hidden;
}

.LBcontTags .list-group .list-group-item {
  padding-left: 0%;
  border: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.LBcontTags .list-group .btn-primary {
  background-color: white;
  border: white solid 1px;
  width: 70px;
  height: 30px;
  padding-top: 3px;
  font-size: 14px;
  z-index: 200;
}

.LBcontTags .list-group .btn-primary:hover {
  background-color: red;
  border: #3b49df solid 1px;
}

.LBcontTags .list-group .list-group-item:hover {
  color: #3b49df;
}

.LBcontTags .list-group .list-group-item:hover .btn-primary {
  background-color: #3b49df;
  border: #3b49df solid 1px;
}

.LBcontTags .list-group .list-group-item:hover .btn-primary:hover {
  background-color: #2c38c0;
  border: #2c38c0 solid 1px;
}

.LBcontPub {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  height: 300px;
  width: 240px;
}

.LBcontPub h4 {
  text-align: center;
  font-weight: bold;
  color: #3b49df;
  padding-bottom: 40px;
}

.LBcontPub .LBim1 {
  height: 180px;
  width: 230px;
}

.LBcontPub:hover {
  cursor: pointer;
}

* {
  text-decoration: none;
  list-style: none;
}

* ul {
  padding: 0;
}

* a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.avatar {
  width: 45px;
}

.avatar2 {
  border-radius: 50%;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 40px;
}

.dates {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.names {
  font-size: 16px;
  font-weight: 400;
}

.titles {
  font-size: 22px;
}

.subcontent {
  font-size: 14px;
  font-weight: 400;
}

.pinkImage {
  width: 30%;
}

.numbers {
  color: gray;
  font-size: 15px;
  font-weight: 400;
}

.left_icons {
  fill: #525050;
}

.txt-area {
  width: 80%;
}

.comment1 {
  width: 80%;
}

.columna {
  position: fixed;
  top: 20%;
  left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  margin-bottom: 20px;
}

.container-footer {
  background: #d6d6d7;
  color: #575757;
  padding: 3rem;
  position: relative;
  font-size: .875rem;
  text-align: center;
  bottom: 0;
}

.link-footer {
  color: #090909;
  line-height: 1.25;
  font-size: .875rem;
  font-weight: 700;
  overflow-wrap: anywhere;
  word-break: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link-footer:hover {
  color: #3B49DF;
}

#p_footer {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */