*{
    text-decoration: none;
    list-style: none;
    // background: #efefef;
    ul{
        padding: 0;
    }
    a{
        text-decoration: none;
    }
}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// Arreglar el tamaño
.avatar{
    width: 45px;
}

.avatar2{
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    object-position: center;
    width: 35px;
}

.dates{
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.names{
    font-size: 16px;
    font-weight: 400;
}

.titles{
    font-size: 22px;
}

.subcontent{
    font-size: 13px;
    font-weight: 250;
}
.driwwwle{
    width: 30%;
}
.pinkImage{
    width: 40%;
}

.numbers{
    color: gray;
    font-size: 15px;
    font-weight: 400;
}
.numbers2{
    color: gray;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.left_icons{
    fill: rgb(82, 80, 80);
}

.txt-area{
    width: 80%;
}
.comment1{
    width: 80%;
}

.columna{
    position: fixed;
    top: 20%;
    left: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comment2{
    width: 60%;
}

.lastSection{
    font-size: 20px;
    font-weight: bold;
}

.lastSectionTitle{
    font-size: 16px;
    font-weight: bold;
    a{
        color: black;
    }
}

.lastSectionUser{
    font-size: 13px;
    font-weight: 200;
}

.barra{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
    padding-bottom: 16px;
    background: #111;
    background: rgba(0,0,0,.90);
    border-top: 2px solid #f00;
    z-index:2000;
}